// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.xyz{
    color:red;
    font-size: 16px;
    padding: 5px;
    border: 1px solid black;
}

.menuBar >li {
    text-align:center;
}