<div class="Header headBar" style="background:white; color:black;box-shadow: 0 10px 6px -6px #777;">
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">
            <img src="Shopaholic.png" height="100" width="100">
            </div>
            <div class="col-md-6">
            <h1 style="line-height:50px;"> Shopaholic</h1>
            </div>
        </div>

    </div>
    <div class="col-md-6">

    </div>
    <div class="col-md-2" class="headerLinks" style="margin:auto; padding:10px; line-height: 75px;">
        <div class="row">
            <div class="col-md-6"><a href="#" class="sigin" data-toggle="modal" data-target="#Modal">SignIn</a></div>
            <div class="col-md-6"><a href="#" class="signup" data-toggle="modal" data-target="#ModalSignup">SignUp</a></div>
        </div>
    </div>
</div>
</div>


<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="row">
      <div class="col-md-6">
      UserName:
      </div>
      <div class="col-md-6">
      <input id="signin-email" type="text"/>
      </div>
  </div></br>
    <div class="row">
      <div class="col-md-6">
      Password:
      </div>
      <div class="col-md-6">
      <input id="signin-password" type="Password"/>
      </div>
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-dismiss="modal" data-target="#ModalSignup">Sign up</button>
        <button type="button" id="login" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalSignup" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
            UserName:
            </div>
            <div class="col-md-6">
            <input id="signup-email" type="text"/>
            </div>
        </div><br>
          <div class="row">
            <div class="col-md-6">
            Password:
            </div>
            <div class="col-md-6">
            <input id="signup-password" type="Password"/>
            </div>
        </div></br>
           <div class="row">
            <div class="col-md-6">
            ConfirmPassword:
            </div>
            <div class="col-md-6">
            <input id="signup-confirm-password" type="password"/>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="signUp">Sign up</button>
      </div>
    </div>
  </div>
</div>
<div class="container" id="slidingImages">
  <div class="row slidingImages">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="lan_1.jpg" alt="Los Angeles" width="100%">
      </div>

      <div class="item">
        <img src="lan_2.jpg" alt="Chicago" width="100%">
      </div>

      <div class="item">
        <img src="lan_3.jpg" alt="New york" width="100%">
      </div>
    </div>


  </div>
</div>
</div>
<div class="row">
    <div class="col-md-3 ">
        <div class="card1" align="middle" >
           <img src="img_1.jpg" height="90%" width="90%"/>
           </div>
    </div>
    <div class="col-md-3 ">
        <div class="card2" align="middle" >
            <img src="img_2.jpg" height="90%" width="90%"/>
        </div>
    </div>
    <div class="col-md-3 ">
        <div class="card3" align="middle">
         <img src="img_3.jpg" height="90%" width="90%"/>
        </div>
    </div>
    <div class="col-md-3 ">
        <div class="card4" align="middle">
            <img src="img_4.jpg" height="90%" width="90%"/>
        </div>
</div>
</div>
<footer>
<h2>Footer Links</h2>
<hr>
<div class="row f_links">
<div class="col-md-4"> Created by Rajat Gupta</div>
<div class="col-md-4"> Mobile 4086468810</div>
<div class="col-md-4"> Email rajat280992@gmail.com</div>
</div>
<div class="row f_links">
<div class="col-md-4"> Created by Rajat Gupta</div>
<div class="col-md-4"> Mobile 4086468810</div>
<div class="col-md-4"> Email rajat280992@gmail.com</div>
</div>
<div class="row f_links">
<div class="col-md-4"> Created by Rajat Gupta</div>
<div class="col-md-4"> Mobile 4086468810</div>
<div class="col-md-4"> Email rajat280992@gmail.com</div>
</div>
</footer>
